.grid{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 10px;
   
}

.list{
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    max-width: 350px;
    align-items: center;
    
}
.card1{
    width: 325px;
    border: 2px solid rgb(201, 197, 197);
    border-radius: 5px;
    padding: 5px;
    
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    /* background-color: rgb(255, 255, 255); */
    border-radius: 15px;
    padding-right: 5px;
    padding-left: 5px;
    
}

a.hover{
    color: white;
    border-radius: 5px;
    
}

.colorbrown1{
    background-color: #ad9a65;
    
}
.colorBrownUser{
    background-color: #bda592;
    border-radius: 15px;
    
}

.form-control{
    width: 50%;
    align-items: center;
}

img:hover{
    opacity: 75%;
    
}
.boxAnimation {
    width: 200px;
  height: 100px;
  
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  
  padding: 5px;
  }
  @keyframes mymove {
    from {right: 2px;}
    to {right: 100px;}
  }


  .bg-div{
    background-color:#e3dbd557;
    border-radius: 10px;
    
  }