.grid{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 10px;
    
    
    
    
    
}

.list{
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    max-width: 350px;
    align-items: center;
    
}
.card1{
    width: 350px;
    
    border: 2px solid rgb(201, 197, 197);
    border-radius: 5px;
    padding: 5px;
    
}




