.grid{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 10px;
   
}

.list{
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    max-width: 350px;
    align-items: center;
    
}
.card1{
    width: 325px;
    
    border: 2px solid rgb(201, 197, 197);
    border-radius: 5px;
    padding: 5px;
    
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    background-color: gainsboro;
    border-radius: 10px;
    padding: 8px;
    margin-top: 6px;
}

/* .navbar-toggler {
    background-color: gainsboro;
} */

a.hover{
    background-color:#bab0a9;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}

.form-control{
    width: 50%;
    align-items: center;
}

/* img:hover{
    opacity: 75%;
    
}
.boxAnimation {
    width: 100px;
  height: 100px;
  background: rgb(110 117 124);
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  color: white;
  padding: 5px;
  }
  @keyframes mymove {
    from {right: 20px;}
    to {right: 250px;}
  } */